# General
.DS_Store
*.swp
*.bak
*.tmp
*.log
.env
.idea/
.vscode/
nova-venv/

# Contract
contract/target
contract/*.wasm
contract/Cargo.lock

# KV Contract
kv-contract/target
kv-contract/*.wasm
contract/Cargo.lock

# Demos
demos/.env
demos/target
demos/Cargo.lock
demos/node_modules/
demos/package-lock.json

# MCP server
mcp-server/.env

# NOVA sdk JS
nova-sdk-js/package-lock.json
nova-sdk-js/node_modules/
nova-sdk-js/.env
nova-sdk-js/npm-debug.log
nova-sdk-js/yarn-error.log
nova-sdk-js/examples/simple_upload/node_modules/

# NOVA sdk RS
nova-sdk-rs/Cargo.lock
nova-sdk-rs/target
nova-sdk-rs/.env
nova-sdk-rs/examples/simple_upload/target/
nova-sdk-rs/examples/simple_upload/Cargo.lock

# Shade agent
shade-agent/node_modules/
shade-agent/.env
shade-agent/.env*.local
shade-agent/package-lock.json
shade-agent/frontend/package-lock.json