#requirements.txt for mcp server to fastmcp
fastmcp==2.13.0.2
fastapi==0.121.1
py-near==1.1.59
py-near-primitives==0.2.4
pynacl==1.6.0
base58==2.1.1
loguru==0.7.3
httpx==0.28.1
uvicorn==0.38.0
cryptography==43.0.1