IPFS_API_KEY=your_ipfs_api_key_here
IPFS_API_SECRET=your_ipfs_api_secret_here
PINATA_GATEWAY=your_pinata_gateway_here

CONTRACT_ID=your_contract_id_here
SIGNER_ACCOUNT_ID=your_signer_account_id_here
NEAR_PRIVATE_KEY=your_near_private_key_here

SHADE_API_URL=your_shade_api_url_here
RPC_URL=https://rpc.testnet.near.org or https://rpc.mainnet.near.org