#requirements.txt for mcp server to fastmcp
fastmcp>=3.2.4
py-near==1.1.59
py-near-primitives==0.2.4
pynacl==1.6.0
base58==2.1.1
loguru==0.7.3
httpx==0.28.1
cryptography>=46.0.5
PyJWT>=2.12.0
wheel>=0.46.2